{% extends '_partials/layout.njk' %}
{% import '_macro/card.njk' as card with context %}
{% import '_macro/postmeta.njk' as postmeta with context %}
{% import '_macro/segment.njk' as segment with context %}

{% block content %}
  <div class="index wrap">
    {%- if page.posts.length > 0%}
      {%- set posts = page.posts.toArray() %}
      {%- if page.current == 1 %}
        <h2 class="divider">{{ __('index.posts') }}</h2>
      {%- endif %}
      <div class="segments posts">
        {%- for post in posts %}
          {{ segment.render(post) }}
        {%- endfor %}
      </div>
    {%- endif %}

  </div>

  {% include '_partials/pagination.njk' %}

{% endblock %}
