<div class="author" itemprop="author" itemscope itemtype="http://schema.org/Person">
  <img class="image" itemprop="image" alt="{{ author }}"
      data-src="{{ url_for(theme.statics + theme.images + '/'+ theme.sidebar.avatar) }}">
  <p class="name" itemprop="name">{{ author }}</p>
  <div class="description" itemprop="description">{{ description }}</div>
</div>

<div class="social">
  {%- for name, link in theme.social %}
    {%- set sidebarURL = link.split('||')[0] | trim %}
    {%- set sidebarIcon = '<i class="ic i-' + link.split('||')[1] | trim + '"></i>' %}
      {{ _url(sidebarURL, sidebarIcon, {title: sidebarURL, class: 'item ' + name}) }}
  {%- endfor %}
</div>

<ul class="menu">
  {{ partial('_partials/sidebar/menu.njk', {}, {cache: true}) }}
</ul>
